html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
#map {
  height: 100%;
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.loginBox {
  max-width:  90%;
  width: 500px
}

.stretch input  {
  width: 100%
}

a {
  color: #00B7FF;
}
